body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    margin: 40px;
}
.box {
    background-color: crimson;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    font-size: 24px;
} 
.box img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
button {
    border: 1px solid #000;
    border-radius: 35%;
    width: 100px;
    height: 30px; 
}
.hidden img { 
    display: none;
}
.matched {
    width: 101%;
    box-shadow: 0 0 0 3px green;
}
button h4 {
    width: 100%;
    height: 100%;
}
.hidden:hover {
    background-color: rgb(105, 12, 30);
    transform: scale(1.05);
}